<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Produtos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>🍺 BarStock</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/categorias">Categorias</a>
    <a href="/produtos">Produtos</a>
    <a href="/vendas">Vendas</a>
</nav>

<div class="container">

<h2>Produtos</h2>

<table>

<tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Preço</th>
    <th>Estoque</th>
    <th>Categoria</th>
</tr>

{% for produto in produtos %}

<tr>
    <td>{{ produto.id }}</td>
    <td>{{ produto.nome }}</td>
    <td>R$ {{ produto.preco }}</td>
    <td>{{ produto.estoque }}</td>
    <td>{{ produto.categoria_id }}</td>
</tr>

{% endfor %}

</table>

</div>

</body>
</html>