<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Vendas</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>🍺 BarStock</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/categorias">Categorias</a>
    <a href="/produtos">Produtos</a>
    <a href="/vendas">Vendas</a>
</nav>

<div class="container">

<h2>Vendas</h2>

<table>

<tr>
    <th>ID</th>
    <th>Valor Total</th>
</tr>

{% for venda in vendas %}

<tr>
    <td>{{ venda.id }}</td>
    <td>R$ {{ venda.valor_total }}</td>
</tr>

{% endfor %}

</table>

</div>

</body>
</html>